name: Block Direct Push to Main

on:
  push:
    branches:
      - main

jobs:
  block-push:
    runs-on: ubuntu-latest
    steps:
      - name: Check direct push
        run: |
          echo "❌ Push direto na branch 'main' não é permitido!"
          exit 1
